streamlit==1.41.1
opencv-python-headless==4.7.0.72
mediapipe==0.10.20
pyrebase==3.0.27
gcloud==0.17.0
pillow==9.5.0
pycryptodome==3.4.3
oauth2client==3.0.0
jws==0.1.3
requests==2.11.1  # Use a version of requests that works with pyrebase
